@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Montserrat;
    font-weight: 300;
}

.dark {
    background-color: rgb(2,6,23);
    color: white;
}

.light {
    background-color: rgb(236, 236, 236);
    color: black;
}

@keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes cursor {
    from {
      border-right-color: transparent;
    }
    to {
      border-right-color: black; /* ou la couleur que tu souhaites */
    }
  }
  
  .typing-animation {
    animation: typing 2s steps(16), cursor 0.4s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 2px solid black; /* ou la couleur que tu souhaites */
  }

.initial {
    position: initial !important;
}